package consumer

import (
	"github.com/google/wire"
	taskSdk "gl.quanyougame.net/common/core-sdk-go/task"
	"gl.quanyougame.net/common/core-sdk-go/zaplog"

	taskConsts "[[.Module]]/infra/task/consts"
)

// ConsumerSet asynq 消费者 wire provider 集合。
var ConsumerSet = wire.NewSet(
	NewExampleConsumer,
	NewTaskConsumer,
)

// TaskConsumer 任务消费者注册器，统一在此登记并启动所有 asynq 消费者。
type TaskConsumer struct{}

// NewTaskConsumer 注册并启动全部异步任务消费者。
func NewTaskConsumer(
	server *taskSdk.TaskServer,
	exampleConsumer *ExampleConsumer,
) *TaskConsumer {
	server.RegisterTask(taskConsts.ExampleTask, exampleConsumer)
	server.Run()
	zaplog.Log().Info("starting asynq task consumers...")
	return &TaskConsumer{}
}
