namespace: public
server:
  server_name: [[.ServerName]]
  http:
    addr: 0.0.0.0:${HTTP_PORT:8000}
    timeout: 10s
  grpc:
    addr: 0.0.0.0:${RPC_PORT:9000}
    timeout: 10s
nacos:
  registrar:
    ip_address: ${NACOS_IP_ADDRESS:http://nscode.quanyougame.net}
    port: ${NACOS_PORT:8848}
  confCenter:
    ip_address: ${NACOS_CONF_IP_ADDRESS:http://nscode.quanyougame.net}
    port: ${NACOS_CONF_PORT:8848}
  log_level: warn
log:
  debug: true
  log_path: /tmp/log/[[.AppName]].log
runtime_monitor:
  enabled: false
  memory_limit_mb: 512
  dump_path: /tmp/coredump
