module [[.Module]]

go 1.23

require (
	github.com/go-kratos/kratos/contrib/registry/nacos/v2 v2.0.0-20251127073707-1e7cdc82e851
	github.com/go-kratos/kratos/v2 v2.9.2
	github.com/google/wire v0.7.0
	github.com/prometheus/client_golang v1.23.2
	github.com/hibiken/asynq v0.26.0
	github.com/xxl-job/xxl-job-executor-go v1.2.0
	github.com/redis/go-redis/v9 v9.17.2
	github.com/shopspring/decimal v1.4.0
	gl.quanyougame.net/common/core-sdk-go/cron v1.0.2
	gl.quanyougame.net/common/core-sdk-go/middleware v1.0.6
	gl.quanyougame.net/common/core-sdk-go/mongo v1.0.2
	gl.quanyougame.net/common/core-sdk-go/mysql v1.1.2
	gl.quanyougame.net/common/core-sdk-go/nacos v1.0.4
	gl.quanyougame.net/common/core-sdk-go/rabbitmq v1.0.9
	gl.quanyougame.net/common/core-sdk-go/redis v1.0.13
	gl.quanyougame.net/common/core-sdk-go/task v1.0.13
	gl.quanyougame.net/common/core-sdk-go/zaplog v1.0.1
	gl.quanyougame.net/common/idl_gen/kbfs_user v0.0.0-20260602115537-f79f0f7bd673
	gl.quanyougame.net/common/idl_gen/sports_meta v0.0.0-20260529062447-2532ce9f8384
	go.mongodb.org/mongo-driver v1.17.6
	go.opentelemetry.io/otel v1.38.0
	go.opentelemetry.io/otel/exporters/prometheus v0.60.0
	go.opentelemetry.io/otel/metric v1.38.0
	go.opentelemetry.io/otel/sdk/metric v1.38.0
	go.uber.org/zap v1.27.0
	google.golang.org/grpc v1.77.0
	google.golang.org/protobuf v1.36.11
	gorm.io/driver/mysql v1.6.0
	gorm.io/gen v0.3.27
	gorm.io/gorm v1.31.1
)
