//go:build wireinject
// +build wireinject

// The build tag makes sure the stub is not built in the final build.

package main

import (
	"github.com/go-kratos/kratos/v2"
	"github.com/google/wire"

	"[[.Module]]/biz/app"
	"[[.Module]]/biz/domain"
	"[[.Module]]/biz/handler"
	"[[.Module]]/infra/conf"
	"[[.Module]]/server"
)

// wireApp 初始化 Kratos 应用。
func wireApp() (*kratos.App, func(), error) {
	panic(wire.Build(
		conf.ConfSet,
		domain.ServiceSet,
		app.AppSet,
		handler.HandlerSet,
		server.ServerSet,
		newLogger,
		newApp,
	))
}
